<div class="wrapper" data-aos="zoom-in-up" data-aos-easing="linear"
data-aos-duration="500">
    <div class="navbar" data-aos="zoom-out" data-aos-duration="500">
        <div class="logo"><img src="assets/images/favicon.png" alt="" width="80px"></div>
        <div class="menu">
            <input type="checkbox" id="check-menu">
            <label id="label-check" for="check-menu">
                <i class="uil uil-bars icon-menu"></i>
            </label>
            <nav>
                <ul class="links">
                    <li><a href="#home"id="selected">Home</a></li>
                    <li>
                        <a>Sobre mí</a>
                        <ul class="dropdown-menu2">
                            <li><a href="#about">Lenguajes</a></li>
                            <li><a href="#frameworks">Frameworks</a></li>
                            <li><a href="#sistemas">Sistemas</a></li>
                        </ul>
                    </li>
                    <li><a href="#works">Proyectos</a></li>
                    <li><a href="#others">Otras tecnologías</a></li>
                </ul>
            </nav>
        </div>
        <div class="cv"><a href="assets/CV_MANUEL_GUTIERREZGONZALEZ.pdf" target="_blank" class="action-btn">Curriculum</a></div>
    </div>
</div>