<div class="wrapper d-flex flex-wrap justify-content-space-between">
    <div class="row">
        <div class="cont cont2 col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="about-content">
                <h2 class="heading" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="600">Sobre
                    <span>mí</span></h2>
                <h3 data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="700">Frameworks y librerías</h3>
                <div class="lenguajes d-flex justify-content-space-between">
                    <a href="" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="600"><img
                            src="/assets/images/angular.png" alt=""></a>
                    <a href="" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="700"><img
                            src="/assets/images/spring-boot.png" alt=""></a>
                    <a href="" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="800"><img
                            src="/assets/images/bootstrap.png" alt=""></a>
                    <a href="" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="900"><img
                            src="/assets/images/react.png" alt="" width="90px"></a>
                </div>
            </div>
        </div>
        <div class="cont cont1 col-12 col-sm-12 col-md-12 col-lg-6">
            <p data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="1000">Angular, Spring, Bootstrap y
                React son frameworks ampliamente utilizados en el desarrollo web. Mi enfoque principal ha sido Angular
                para el desarrollo front-end y Spring para el desarrollo back-end. Estos frameworks me han brindado una
                base sólida para crear aplicaciones web robustas y escalables. Además, he trabajado con Bootstrap y
                React, ampliando mi experiencia en la construcción de interfaces de usuario modernas y receptivas.</p>
        </div>
    </div>
</div>