<div class="wrapper d-flex flex-wrap justify-content-space-between">
    <div class="row">
        <div class="cont cont2 col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="about-content">
                <h2 class="heading" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="600">Sobre
                    <span>mí</span></h2>
                <h3 data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="700">Sistemas operativos</h3>
                <div class="lenguajes d-flex justify-content-space-between">
                    <a href="" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="600"><img
                            src="/assets/images/linux.png" alt=""></a>
                    <a href="" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="700"><img
                            src="/assets/images/windows.png" alt=""></a>
                    <a href="" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="800"><img
                            src="/assets/images/mac.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="cont cont1 col-12 col-sm-12 col-md-12 col-lg-6">
            <p data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="1000">Experiencia en sistemas
                operativos como Windows, Linux y macOS. Mi enfoque principal ha sido Windows, pero también tengo
                conocimientos sólidos en Linux y un interés particular en explorar las posibilidades de este sistema.
            </p>
        </div>
    </div>
</div>