<div class="wrapper d-flex flex-wrap justify-content-space-between">
    <div class="row">
        <div class="cont cont1 col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="about-img" data-aos="zoom-in-up" data-aos-easing="linear"
            data-aos-duration="600">
                <img src="assets/images/logo3.1.png" alt="" width="550px">
            </div>
        </div>
        <div class="cont cont2 col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="about-content">
                <h2 class="heading" data-aos="zoom-in-up" data-aos-easing="linear"
                data-aos-duration="600">Sobre mí</h2>
                <h3 data-aos="zoom-in-up" data-aos-easing="linear"
                data-aos-duration="650">Lenguajes de programación</h3>
                <div class="lenguajes d-flex justify-content-space-between">
                    <a href="" data-aos="zoom-in-up" data-aos-easing="linear"
                    data-aos-duration="600"><img src="/assets/images/java.png" alt=""></a>
                    <a href="" data-aos="zoom-in-up" data-aos-easing="linear"
                    data-aos-duration="700"><img src="/assets/images/html.png" alt=""></a>
                    <a href="" data-aos="zoom-in-up" data-aos-easing="linear"
                    data-aos-duration="800"><img src="/assets/images/css.png" alt=""></a>
                    <a href="" data-aos="zoom-in-up" data-aos-easing="linear"
                    data-aos-duration="900"><img src="/assets/images/javascript.png" alt=""></a>
                    <a href="" data-aos="zoom-in-up" data-aos-easing="linear"
                    data-aos-duration="1000"><img src="/assets/images/typescript.png" alt=""></a>
                    <a href="" data-aos="zoom-in-up" data-aos-easing="linear"
                    data-aos-duration="1100"><img src="/assets/images/c++.png" alt=""></a>
                    <a href="" data-aos="zoom-in-up" data-aos-easing="linear"
                    data-aos-duration="1200"><img src="/assets/images/sql.png" alt="" width="90px"></a>
                </div>
                <p data-aos="zoom-in-up" data-aos-easing="linear"
                data-aos-duration="1300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sed placeat sapiente praesentium
                    mollitia totam perspiciatis enim aperiam est accusantium necessitatibus, voluptatibus alias
                    dignissimos facere ad officiis beatae, quos modi?</p>
            </div>
        </div>
    </div>
</div>