<div class="centrado" *ngIf="!showContent"></div>
<app-header *ngIf="showContent"></app-header>

<section *ngIf="showContent" class="home" id="home">
    <app-home class="d-flex flex-column"></app-home>
</section>
<section *ngIf="showContent" class="about" id="about" data-aos="fade-up" data-aos-easing="linear"
data-aos-duration="600">
    <app-about class="d-flex flex-column"></app-about>
</section>
<section *ngIf="showContent" class="frameworks" id="frameworks">
    <app-frameworks class="d-flex flex-column"></app-frameworks>
</section>
<section *ngIf="showContent" class="sistemas" id="sistemas" data-aos="fade-up" data-aos-easing="linear"
data-aos-duration="600">
    <app-sistemas class="d-flex flex-column"></app-sistemas>
</section>
<section *ngIf="showContent" class="works" id="works">
    <app-works class="d-flex flex-column"></app-works>
</section>
<section *ngIf="showContent" class="others" id="others" data-aos="fade-up" data-aos-easing="linear"
data-aos-duration="600">
    <app-others class="d-flex flex-column"></app-others>
</section>