<div class="wrapper d-flex flex-wrap">
    <div class="row">
        <div class="contenedor col-12 col-sm-12 col-md-12 col-lg-6">
            <h3 data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="600">Hola, soy</h3>
            <h1 data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="650">Manuel Gutiérrez</h1>
            <h3 data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="700">Junior Fullstack Developer</h3>
            <p data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="750">Soy un desarrollador fullstack
                junior con experiencia en diversos proyectos y en una consultora de tecnología. Mi pasión por la
                programación y mi capacidad para colaborar en equipos multidisciplinarios me han permitido adquirir
                habilidades sólidas en el desarrollo de aplicaciones web de extremo a extremo.

                <span>¡Estoy emocionado de compartir mi portafolio en línea! <span class="span1">Bienvenido/a a mi web.</span></span>
            </p>
            <div class="btn-box" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="800">
                <a href="mailto:manueelgutierrezg@gmail.com" class="left">Contácteme</a>
                <a href="assets/CV_MANUEL_GUTIERREZGONZALEZ.pdf" target="_blank">Curriculum</a>
            </div>
            <div class="home-sci" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="850">
                <a href="https://www.linkedin.com/in/manuelgutierrezgonzalez/" target="_blank"><i class="uil uil-linkedin"></i></a>
                <a href="https://github.com/manueelguty" target="_blank"><i class="uil uil-github"></i></a>
                <a href="mailto:manueelgutierrezg@gmail.com"><i class="uil uil-envelope-share"></i></a>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="home-img" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="900">
                <img src="/assets/images/logo3.0.png" alt="" width="500px">
            </div>
        </div>
    </div>
</div>