<h1 class="heading" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="500">
  Proyectos
  <span>anteriores</span>
</h1>
<h3 class="subheading" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="600">
  Repositorios github
</h3>
<div class="slide-container swiper">
  <div class="slide-content">
    <div class="card-wrapper swiper-wrapper">
      <div class="card swiper-slide" *ngFor="let work of works">
        <div class="image-content">
          <span class="overlay"></span>

          <div class="card-image">
            <img src="assets/images/github.png" alt="" class="card-img">
          </div>
        </div>

        <div class="card-content">
          <h2 class="name">{{work.name}}</h2>
          <h3 class="date">{{work.created_at |date}}</h3>
          <p class="description">
            {{work.description}}
          </p>
          <div class="rating">
            <a>
              <i class="uil uil-star"></i>
              <span>{{work.stargazers_count}}</span>
            </a>
          </div>
          <div class="watchers">
            <a>
              <i class="uil uil-eye"></i>
              <span>{{work.watchers_count}}</span>
            </a>
          </div>
          <div class="bottom">
            <a href="{{work.html_url}}" target="_blank">Repositorio</a>
            <div class="lenguaje">
              <a>
                <i class="uil uil-arrow"></i>
                <span>{{work.language}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-next swiper-navBtn" (click)="onNextClick()"></div>
  <div class="swiper-button-prev swiper-navBtn" (click)="onPrevClick()"></div>
  <div class="swiper-pagination"></div>
</div>